.add-lobo {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-lobo #main-box {
    border: 4px solid var(--footer-grey);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
}

.add-lobo form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-lobo div h1 {
    font-size: 60px;
    text-align: center;
}

.add-lobo div h2 {
    font-size: 30px;
    font-weight: 500;
}

.add-lobo #name-age {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.add-lobo .input-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-lobo #name-area {
    width: 68%;
}

.add-lobo #age-area {
    width: 30%;
}

.add-lobo form input {
    height: 39px;
}

.add-lobo form textarea {
    height: 250px;
}

.add-lobo form input,
.add-lobo form textarea {
    background-color: #E6E6E6;
    
}

.add-lobo form button {
    background-color: var(--about-blue);
    border: 1px solid var(--footer-grey);
    font-size: 24px;
    font-weight: 600;
    width: 209px;
    height: 60px;
    margin-top: 50px;
    align-self: center;
    transition: 0.5s;
}

.add-lobo form button:hover {
    background-color: var(--about-blue-hovered);
}


