/*---------------- GLOBAL ------------------*/
* {
    padding: 0;
    margin: 0;
}

:root {
    --wolfie-baby-blue: #85CDF5;
    --footer-grey: #333333;
    --about-blue: #2C5680;
    --about-blue-hovered: #1C3650;
    --highlight-yellow: #DEB959;
    --highlight-yellow-hovered: #AA8D43;
}

body {
    font-family: "Darker Grotesque", sans-serif;
    background-color: var(--footer-grey);
    z-index: -1;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--footer-grey);
}

p {
    font-weight: 100;
}

button {
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--highlight-yellow);
}

input,
textarea {
    border: 1px solid var(--footer-grey);
    font-family: "Darker Grotesque", sans-serif;
    color: black;
    font-size: 24px;
}

/*---------------- HEADER ------------------*/

header {
    background-color: var(--wolfie-baby-blue);
    color: var(--footer-grey);
    font-weight: 700;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

.logo {
    background-color: var(--wolfie-baby-blue);
    border: none;
    width: 96.55px;
    height: 112.72px;
    background-image: url(../assets/icons/adote-lobinho-icon.png);
}

.logo:hover {
    background-image: url(../assets/icons/adote-lobinho-blink-icon.png);
}

header a {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

header a .selection-line {
    width: 0%;
    height: 5px;
    background-color: var(--footer-grey);
    display: flex;
    transition: 0.5s;
}

header a:nth-of-type(3) .selection-line {
    align-self: flex-end;
}

header a:hover .selection-line {
    width: 66%;
    height: 5px;
    background-color: var(--footer-grey);
    display: flex;
    transition: 0.5s;
}

header a:nth-of-type(3) .selection-line {
    align-self: flex-end;
}

header a:hover .selection-line {
    width: 66%
}

/*---------------- FOOTER ------------------*/

footer {
    position: relative;
    background-color: var(--footer-grey);
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20%;
    font-size: 18px;
    line-height: 15px;
}

.map-info {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

footer #info-section {
    width: auto;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.footer-gradient {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, var(--highlight-yellow), var(--about-blue));
    position: absolute;
    top: 0;
    left: 0;
}

iframe{
    margin-left: 80px;
}

.divs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 378px;
    height: auto;
    gap: 10px;
}

.divs img {
    width: 19px;
    height: 19px;
}

.divs p {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-quem-somos-button {
    background-color: var(--highlight-yellow);
    text-decoration: none;
    width: 144px;
    height: 35px;
    color: #353535;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    transition: 0.5s;
}

.footer-quem-somos-button:hover {
    background-color: var(--highlight-yellow-hovered);
}

#developed-with-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#developed-with-section h4 {
    color: white;
    font-weight: 400;
}