h1  {
    font-size: 40px;
    font-weight: 800;
}

main {
    background-color: white;
}

#main_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    height: 200%;
}

#main_content img {
    width: 400px;
    box-shadow: -20px -20px #2C5680;
    transform: translate(20px, 20px);
    transition: 0.5s;
    margin: 3px;
}

#imagem_botoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
}

#descricao{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 50px;
}

#descricao p {
    font-size: 26px;
    font-weight: 500;
    text-align:justify;
}

#buttons {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

#buttons button{
    padding: 22px 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 480;
}

#adotar {
    background-color: #7AAC3A;
    transition: 0.5s;
}

#adotar:hover {
    background-color: #557729;
}

#excluir {
    background-color: #DE5959;
    transition: 0.5s;
}

#excluir:hover {
    background-color: #a84343;
}